.idea/
.vscode/

.env
.venv/
env/
venv/
/tmp/

*.mmdb

__pycache__/
*.pyc

dist/
!dist/.gitkeep
*.egg-info

.coverage
/coverage/
/htmlcov/
.mypy_cache
.pytest_cache
junit/

settings/local.py
*.sqlite3

touch.txt
/static/
/ci/

*.log

_media/
certs
.python-version
.DS_Store
